@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
main{
    max-width: 1260px;
    margin: auto;
    padding:1rem 2rem;
    article{
        padding: 2.5rem 2rem;
        padding-bottom: 10rem;
        background: #f1f1f1;
        overflow-y: scroll;
        h1{
            position: relative;
            text-align: center;
            margin: 2rem 1rem;
            font-size: 2.75rem;
            font-family: "averia i";
            &:after{
                content: "";
                position: absolute;
                display: inline-block;
                width: 5rem;
                border-bottom: 1px solid #000;
                left: calc(50% - 2.5rem);
                bottom: -.5rem;
            }
        }
        div{
            max-width: 35rem;
            line-height: 1.5rem;
            margin: 2.5rem auto;
            position: relative;
            background: #fff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.33);
            padding: 1.5rem 2rem;
            border-radius: 20px;
            opacity: 0;
            transition: .75s ease all;
            iframe{
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                opacity: 0;
                transform: translate(-75%,-50%);
                transition: .75s ease all;
                transition-delay: .25s;
                pointer-events: none;
            }
            &.active{
                opacity: 1;
                transform: none !important;
                iframe{
                    opacity: 1;
                    transform: translate(-100%,-50%);
                }
            }
            &.ira{
                border:5px solid #abc;
                transform: translatex(-2rem);
                &:after{
                    content: "";
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    border-top: 1.5rem solid #abc;
                    position: absolute;
                    bottom: -1.5rem;
                    left: calc(30% - -.5rem);
                }
            }
            &.elna{
                text-align: center;
                border:5px solid #ebc;
                transform: translatey(2rem);
                &:after{
                    content:"";
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    border-top: 1.5rem solid #ebc;
                    position: absolute;
                    bottom: -1.5rem;
                    left: calc(50% - .5rem);
                }
            }
            &.mark{
                text-align: right;
                border:5px solid #cba;
                transform: translatex(2rem);
                &:after{
                    content:"";
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    border-top: 1.5rem solid #cba;
                    position: absolute;
                    bottom: -1.5rem;
                    left: calc(70% - 1.25rem);
                }
            }
            h4{
                font-weight:400;
                    }
            p:not(:last-of-type){
                margin-bottom: 1rem;
            }
            span{
                display: inline-block;
            }
        }
    }
    #people{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 2rem;
        div{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            margin: 1rem;
            &.ira{
                background: #abc;
            }
            &.elna{
                background: #ebc;
            }
            &.mark{
                background: #cba;
            }
        }
    }
}
.q{
    letter-spacing: .1rem;
}
.l{
    letter-spacing: .2rem;
    font-style: italic;
}
.b{
    font-size: 1.5rem;
    color: red;
}
.c{
    font-family: "luckiest guy";
    background: linear-gradient(to right, #ebcc19 0%, orange 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.i,i{
    font-style: italic;
    color: greenyellow;
}
