@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
main{
    max-width: 1260px;
    margin: auto;
    padding:1rem 2rem;
    article{
        padding: 2.5rem 2rem;
        background: #f1f1f1;
        h1{
            position: relative;
            text-align: center;
            margin: 2rem 1rem;
            font-size: 2.75rem;
            font-family: "averia i";
            &:after{
                content: "";
                position: absolute;
                display: inline-block;
                width: 5rem;
                border-bottom: 1px solid #000;
                left: calc(50% - 2.5rem);
                bottom: -.5rem;
            }
        }
        &>div{
            transform: translateY(2rem);
            opacity: 0;
            transition: .3s ease all;
            transition-delay: .3s;
            &.active{
                opacity: 1;
                transform: none;
            }
        }
        div{
            max-width: 35rem;
            line-height: 1.5rem;
            margin: 1.5rem auto;
            position: relative;
            h4{
                font-weight:400;
                text-align: right;
                position: absolute;
                left: 0;
                transform: translateX(calc(-100% - 2rem));
            }
            &.subject,
            &.interviewer{
                padding-left: 2rem;
                h4{
                    transform: translateX(-100%);
                }
            }
            p:not(:last-of-type){
                margin-bottom: 1rem;
            }
            span{
                display: inline-block;
            }
        }
    }
}
.q{
    letter-spacing: .1rem;
}
.l{
    letter-spacing: .2rem;
    font-style: italic;
}
.b{
    font-size: 1.5rem;
}
.c{
    font-family: "luckiest guy"
}
.i{
    font-style: italic;
}