@font-face{
    font-display: swap;
    font-family: "averia";
    font-weight: 300;
    src: url("/fonts/AveriaSerifLibre-Light.ttf");
}

@font-face{
    font-display: swap;
    font-family: "averia i";
    font-weight: 300;
    src: url("/fonts/AveriaSerifLibre-LightItalic.ttf");
}

@font-face{
    font-display: swap;
    font-family: "averia";
    font-weight: 400;
    src: url("/fonts/AveriaSerifLibre-Regular.ttf");
}

@font-face{
    font-display: swap;
    font-family: "averia";
    font-weight: 500;
    src: url("/fonts/AveriaSerifLibre-Bold.ttf");
}
