<% include ../partials/header.ejs %>
<header>
    <h1>
        I'm not a Pirate
    </h1>
    <h2>
        <span class="b i">To be, or not to be a pirate? </span><br><br>This week, that is the question. Hold fast, mateys! We have stories about both
        historical and modern-day swashbucklers who loot, pillage, and question their choices.
    </h2>
    <span>May 5, 2017</span>
</header>
<main>
    <article>
        <h1>Prologue</h1>
        <button>Enhance this podcast :)</button>
        <div class="host">
            <h4>Ira Glass</h4>
            <p begin="00:00:00.55"> When I was a kid, I was 100% about astronauts, spaceships, sci-fi, and I was <span class="l">0%
            pirates.</span> The fact that pirates were badasses, that they didn't obey rules, that they were rebels, that
                did not speak to the little nerd boy that I was.</p>
            <p begin="00:00:15.00"><span class="b">But</span> one of our producers, Elna Baker, she was into pirates. She liked how scary they
                were. And she told me this amazing story that has been her favorite since she first heard it. It's a
                true story about a man named <span class="l">Stede Bonnet</span>.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:00:26.90"> Who is known as the Gentleman Pirate. And basically, it takes place in the early
                1700s. He was from Barbados, so he grew up on a plantation, a sugar plantation, to one of the wealthiest
                families in Barbados. He had 94 slaves. He was married, had three kids. And he traveled in high society,
                which is <i>unusual</i> for a pirate.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:00:51.15"> Yeah. The vast majority of people who turned to piracy did so out of desperation,
                and this man didn't.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:00:55.41"> So who's <span class="l b">this?</span></p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:00:57.36"> I've told this story so many times to so many people that I just wanted to make sure
                I was getting the facts right, so I decided to talk to a pirate historian. That's Mark Hanna. He's also
                a professor at UC San Diego.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:01:09.54"> The vast majority of pirates start their lives by mutinying, or they gather a crew
                together and they steal a ship from someone. He actually had a ship built. Thought, I will go down to
                the local shipyard. I'll have my ship built according to specifications that I think are best.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:01:24.45"> And then he hired a crew and he paid them wages, like regular normal-people wages,
                which was <span class="l">a big no-no</span>.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:01:31.83"> The vast majority of pirates, if you don't capture a ship, you don't make any money.
                You want your crew to be invested in the outcome of attacking a ship. So if you know, <i>hey, I'm doing OK.</i>
                I know I'll be paid this week, you're going to be a little less aggressive about capturing a ship. And
                so I think Bonnet, right off the bat, didn't understand the economic model that is the basis of most
                pirate attacks.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:01:55.51"> Then why did he want to be a pirate? What kind of midlife crisis is just like, I'm a
                wealthy landowner with a wife and three kids, and I'm going to just go marauding on the seven seas?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:02:09.42"> Well, it's explained in a book from 1724 this way.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:02:15.00"> Captain Charles Johnson wrote, quote, "this humor of going a-pirating proceeded from
                a disorder in his mind which is said to have been occasioned by some discomforts he found in a married
                state."</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:02:27.86"> Wait. What is he <span class="q">saying?</span></p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:02:30.51"> He says-- and other books say the same thing-- that what led him to piracy was that
                he had a nagging wife.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:02:37.05"> No way.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:02:37.71"> M-<span class="b l">hm</span>.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:02:38.04"> They're blaming <span class="l b">the wife?</span></p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:02:39.18"> They blame the nagging wife. So Bonnet has this ship built and he calls it
                <i>The</i> <i>Revenge.</i> And he makes sure that it has a cabin with a well-stocked library.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:02:50.04"> Which doesn't seem that weird, if you're going to be on a boat for months at a time,
                that you have a lot of books.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:02:56.00"> Most pirates are <span class="l">illiterate</span>, Ira.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:02:58.97"> I think he had absolutely <span class="b">no idea</span> what he was getting into. I think he might have
                heard stories in the local taverns about the excitement of life at sea. Perhaps he heard stories that
                you could go to other islands and maybe meet other women. <span class="l">But clearly</span>, he had no idea what he was
                getting into. And it seems like the reality set in very soon after he had started off on his voyage.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:03:24.13"> And this is what I love about this story is that, instead of just dreaming of this
                alternate life where he's a bad guy, he goes for it. And he's the worst pirate. Like, he does everything
                wrong. Like, for instance, the captain of the pirate ship is supposed to be the most experienced sailor.
            </p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:03:42.45"><span class="q">Yeah?</span></p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:03:43.38"> And Bonnet has no experience sailing.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:03:46.35"> So it looks like, when he was about to attack a ship, he would have to look around
                and ask advice, which is not something you want to be seen doing as a captain. You want to be seen as
                decisive, fast, aggressive.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:03:57.57"> But they have a few successes. They take a few ships. He even gets a reputation.
                This is when they start calling him the Gentleman Pirate.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:04:05.62"> Does he kill people?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:04:06.99"> No, actually. He's kind of a nice pirate. He captures people. He takes their goods.
                And then he lets them go.</p>
            <p begin="00:04:14.74">But then he attacks a big ship, a Spanish man-of-war, and over 30 of his men are
                killed or wounded. And it's a huge disaster. Bonnet is gravely injured. And they have to escape and flee
                to the Bahamas.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:04:27.73"> And there he met one of the most iconic pirates in world history, Edward Thatch,
                who's better known as Blackbeard.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:04:33.82"> Yeah. This is where the story takes a remarkable turn. So basically, here's this guy
                who has idolized pirates, and who does he happened upon but basically the most famous pirate in the
                world.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:04:45.43"> Who is, in fact, Bonnet's polar opposite. He's a successful sailor. He is
                aggressive. He's decisive. He's cruel. He's sadistic. But he's also charismatic and bold, as opposed to
                Bonnet, who's indecisive, nervous.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:05:00.34"> And Blackbeard was this consummate performer. He was incredibly violent. He was
                unpredictable. There's a reason he's one of the most famous pirates. Even pirates were like, whoa, this
                guy is out of control. When he would first appear on your ship, he would have prepared for that moment
                by tying these pieces of twine called slow matches into his long, big beard, and he would light them on
                fire just as he appeared so that there was this cloud of smoke. And in the smoke, you would just see the
                eyes of Blackbeard. So he looked like he was appearing out of hell.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:05:33.62"> I don't understand that at all. It just seems like the fire would catch fire to his
                beard.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:05:38.99"> He had a method, I'm sure.</p>
            <p begin="00:05:49.09">And this was actually a strategy. Their whole thing was to inspire as much terror as
                possible because, if they made you incredibly afraid, you would give up the ship without a fight.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:06:00.65"> Oh, this never occurred to me until this second. So the skull and crossbones and all
                that, it's all like a brand to make people scared.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:06:07.42"> Yeah. Their brand was death. They arrive with a skull and crossbones. If you think
                death is coming for you, you're going to surrender. But in fact, some pirates, like Blackbeard, they
                didn't even kill many people. In fact, there's no evidence Blackbird ever killed anyone till the very
                end. So it was very theatrical. They're putting on a show, and they understood that. And I like
                imagining these pirates scheming and plotting it out, being like:<br><span class="c l">OK, no, here, I have a really good
                idea. This is so scary.</span></p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:06:42.76"> So now basically, the most skilled pirate meets the least skilled.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:06:47.57"> And Blackbeard treats Bonnet in a very friendly manner, which is uncharacteristic of
                Blackbeard. Bonnet is gravely injured. Blackbeard comes on board and says, I'll captain your ship.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:00.38"> As help to you?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:01.76"> Yes.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:02.54"> Extremely rich man.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:04.22"> Yes.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:04.79"> Who doesn't know what he's doing.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:06.14"> Exactly.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:07.29"> All right.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:08.21"> And he lets Bonnet hang out and heal in the captain's quarters while he captains the
                ship.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:16.13"> So do we know what Blackbeard gets out of this?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:18.71"> We don't know. But Bonnet's a novelty. Blackbeard wouldn't have gotten a chance to
                ever hang out with an aristocrat. They end up being together for almost a year.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:07:28.22"> Wow.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:07:29.30"> And at some point, Blackbeard gives Bonnet his ship back. And when Bonnet finally
                goes out on his own again, he fails at pirating so badly his crew begs Blackbeard. They're like, we
                cannot work for this guy. He is a terrible pirate. Please take over this ship. And so Blackbeard
                intervenes and he puts his second-in-command in charge of Bonnet's ship and he invites Bonnet over just
                to stay on his ship for a while. Then he tells him, you know, you're just not cut out for this
                lifestyle. Just sail with me. So again, it's this ruse of like, hang out with me. Put your feet up.
                Relax.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:08:07.22"> This was a transformative moment for Bonnet. I think this was a moment when he
                realized he made a huge mistake. In fact, Captain Charles Johnson recalled that he, at this moment, saw
                his folly and, quote, "he reflected upon his past course of life and was confounded with shame when he
                thought upon what he had done." So he clearly fell into a deep, deep depression.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:08:29.51"> Because he was like, oh, I had a midlife crisis and I left my wife and three kids,
                and now I'm a pirate. And I'm horrible at it.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:08:36.50"> Yes, that's exactly right. In fact, he tells the rest of the pirates that he
                actually really regrets actually becoming a pirate. And the rest of the pirates are embarrassed just to
                look at him.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:08:48.02"> Yeah. And in fact, one of the historical accounts said that, when he ventured out on
                deck, he wore an elegant morning gown and usually carried the book he was reading in his hands, and then
                he would sort of sulk with despair.</p>
            <p begin="00:09:06.31">So he has all this regret about being a pirate. And then something incredible
                happens, which is that the king issues this decree that there is a pardon available for pirates and you
                can return to your life without any criminal charges. So when they get to port, he takes the pardon. And
                Bonnet's plan is to become a privateer.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:09:27.57"> What's that?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:09:28.48"> It's like a mercenary navy that works for the king.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:09:31.15"> OK.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:09:32.35"> But when he gets back to his ship, Blackbeard has betrayed him.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:09:35.95"> That is so not a surprise at all.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:09:37.69"> He's plundered his ship and he's taken his men and marooned them on a deserted
                island, and he leaves them for dead. Bonnet saves them.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:09:46.99"> He is really furious at Blackbeard and, in fact, decides he wants to go after and
                capture Blackbeard himself, which is, as you can imagine, an astounding misperception of his own skill
                sets. Here's this guy who had minor success. His crew never respected him. Goes after probably one of
                the most successful pirates in world history, who is much more aggressive, and thinks that somehow he's
                going to enact revenge and he's finally living up to the name of his ship for the first time.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:10:12.92"> So he's back in the game.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:10:14.65"> Yeah. He never actually catches Blackbeard. But while he's chasing him, he finally
                becomes a real pirate. He takes 13 ships. He got violent. He flogged his own men. He threatened to burn
                down a whole town and to shoot his own crew if they surrendered. And in the final battle, where he was
                captured, he and his men kill 18 people.</p>
        </div>
        <div class="subject">
            <h4>Mark Hanna</h4>
            <p begin="00:10:33.28"> So you could say that he had some, I guess, personal growth. Learned specific
                lessons from Blackbeard. Learned that, if you're going to do this, you have to put on the show and
                you've got to actually appear to be someone who it is worth surrendering to. Yeah, so Bonnet eventually
                has matured into a murderous pirate.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:10:53.50"> Wait. So he had a romantic idea of what it was like to be somebody who murders
                people and takes their stuff, and then he actually ends up actually murdering people and taking their
                stuff?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:11:02.61"> Yeah.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:11:03.88"> That's horrible.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:11:04.75"> Yeah. He becomes a bad guy. And they catch him. And they put him on trial.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:11:10.61"> So he finally got his wish. The world finally thought he was a pirate. Like, mission
                accomplished.</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:11:15.34"> Yeah. And now he can be hanged at 30. And there's actually a transcript of his
                trial.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:11:21.25"> So did he admit being a pirate? Was he proud?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:11:23.53"> No. He pled not guilty. He said his crew held him on board against his will and that
                he wasn't doing any of the piracy. And apparently, this kind of defense is typical. Mark Hanna told me
                pirates usually deny that they're pirates, or they rationalize it, like there's some good reason that
                they did this. They were poor sailors or they were badly treated, and it was only fair to start stealing
                from these big trading companies' ships.</p>
        </div>
        <div class="interviewer">
            <h4>Ira Glass</h4>
            <p begin="00:11:50.41"> So did the defense work? Did he get off?</p>
        </div>
        <div class="subject">
            <h4>Elna Baker</h4>
            <p begin="00:11:51.99"> No. He went to the gallows in Charleston, South Carolina. There's actually a marker
                in a park there.</p>
        </div>
        <div class="host">
            <h4>Ira Glass</h4>
            <p begin="00:12:01.15"> So the guy goes and hangs out with pirates. And even though he does not seem to have
                the smallest aptitude for pirating, he still ends up becoming a pirate.</p>
            <p begin="00:12:10.02">Today on our program we hear the story of another guy-- a guy who's alive right now,
                a guy today-- who gets near to pirates. Did it change him? We try to figure that out. From WBEZ Chicago,
                it's <i>This</i> <i>American</i> <i>Life.</i> I'm Ira Glass. Arrr you going to stay with us? No, we're
                not using that!</p>
            <p begin="00:12:27.88">[LAUGHING]</p>
            <p begin="00:12:29.81"></p>
        </div>
    </article>
</main>
<% include ../partials/footer.ejs %>