<% include ../partials/header.ejs %>
<header>
    <h1>
        I'm not a Pirate
    </h1>
    <h2>
        <span class="b i">To be, or not to be a pirate? </span><br><br>This week, that is the question. Hold fast, mateys! We have stories about both
        historical and modern-day swashbucklers who loot, pillage, and question their choices.
    </h2>
    <span>May 5, 2017</span>
</header>
<main>
    <article>
        <div class="ira host" data-mood="">
            <h4>Ira Glass</h4>
            <p begin="00:00:00.55"> When I was a kid, I was 100% about astronauts, spaceships, sci-fi, and I was <span class="l">0%
            pirates.</span> The fact that pirates were badasses, that they didn't obey rules, that they were rebels, that
            did not speak to the little nerd boy that I was.</p>
            <!-- <iframe src="https://giphy.com/embed/14SE2zfnIHzmoPt4K7" width="150" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->

            <p begin="00:00:15.00"><span class="b">But</span> one of our producers, Elna Baker, she was into pirates. She liked how scary they
            were. And she told me this amazing story that has been her favorite since she first heard it. It's a
            true story about a man named <span class="l">Stede Bonnet</span>.</p>
        </div>
        <div class="elna subject" data-mood="question">
            <h4>Elna Baker</h4>
            <p begin="00:00:26.90"> Who is known as the Gentleman Pirate. And basically, it takes place in the early
                1700s. He was from Barbados, so he grew up on a plantation, a sugar plantation, to one of the wealthiest
                families in Barbados. He had 94 slaves. He was married, had three kids. And he traveled in high society,
                which is <i>unusual</i> for a pirate.</p>
            <!-- <iframe src="https://giphy.com/embed/h9i6KeMGniosU" width="150" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
        </div>
        <div class="mark subject" data-mood="suprise">
            <h4>Mark Hanna</h4>
            <p begin="00:00:51.15"> Yeah. The vast majority of people who turned to piracy did so out of desperation,
                and this man didn't.</p>
        </div>
        <div class="ira interviewer" data-mood="suprise">
            <h4>Ira Glass</h4>
            <p begin="00:00:55.41"> So who's <span class="l b q">this?</span></p>
        </div>
        <div class="elna subject" data-mood="suprise">
            <h4>Elna Baker</h4>
            <p begin="00:00:57.36"> I've told this story so many times to so many people that I just wanted to make sure
                I was getting the facts right, so I decided to talk to a pirate historian. That's Mark Hanna. He's also
                a professor at UC San Diego.</p>
        </div>
        <div class="mark subject" data-mood="mad">
            <h4>Mark Hanna</h4>
            <p begin="00:01:09.54"> The vast majority of pirates start their lives by mutinying, or they gather a crew
                together and they steal a ship from someone. He actually had a ship built. Thought, I will go down to
                the local shipyard. I'll have my ship built according to specifications that I think are best.</p>
        </div>
        <div class="elna subject" data-mood="worried">
            <h4>Elna Baker</h4>
            <p begin="00:01:24.45"> And then he hired a crew and he paid them wages, like regular normal-people wages,
                which was <span class="l">a big no-no</span>.</p>
        </div>
        <div class="mark subject" data-mood="question">
            <h4>Mark Hanna</h4>
            <p begin="00:01:09.54"> The vast majority of pirates start their lives by mutinying, or they gather a crew
                together and they steal a ship from someone. He actually had a ship built. Thought, I will go down to
                the local shipyard. I'll have my ship built according to specifications that I think are best.</p>
        </div>
        <div class="elna subject" data-mood="suprise">
            <h4>Elna Baker</h4>
            <p begin="00:01:24.45"> And then he hired a crew and he paid them wages, like regular normal-people wages,
                which was <span class="l">a big no-no</span>.</p>
        </div>
    </article>
    <div id="people">
        <div class=ira>
            <div class="face">
                <div class="brow">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
                <div class="eye">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
            </div>
        </div>
        <div class=elna>
            <div class="face">
                <div class="brow">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
                <div class="eye">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
            </div>
        </div>
        <div class=mark>
            <div class="face">
                <div class="brow">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
                <div class="eye">
                    <div class="l"></div>
                    <div class="r"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer.ejs %>